.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    padding: 2%;
    background-color: #1e1c1c;
    border-radius: 20px;
}

.card:hover {
    border: 1px solid darkorange;
}

.icon {
    font-size: 80px;
    
}

.icon:hover {
    transition: 0.3s ease-in;
    transform: scale(1.05);
}

h4 {
    text-align: center;
    font-size: 18px;
}

.skill {
    text-align: left;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 25px;
    color: rgb(177, 177, 114);
}

h1 {
    color: rgb(177, 177, 114);
    margin-top: 30px;
}

.btn-container {
    text-align: center;
}

.btn-container button {
    width: 250px;
    margin-left: 10px;
    background-color: #212121;
    border: none ;
    color: darkorange;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #4e4e4e;
    border: 2px solid darkorange;
}

